// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  height: 181.5px;
  width: 175px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#game-board-holder {
  max-width: 1400px;
  min-width: 800px;
  text-align: center;
}

.game-board {
  margin-top: 20px;
  height: 1000px;
  width: 650px;
  display: inline-block;
}

.card-image {
  height: 181.5px;
  width: 125px;
  z-index: -1;
  position: relative;
  margin: auto;
}

.card-button {
  z-index: 1;
  position: relative;
}

#cards-remaining {
  display: inline-block;
  float: left;
}

#invalid-piles {
  display: inline-block;
  float: right;
}

.number-statistic {
  font-size: 1.75em;
}

.game-message {
  clear: both;
  font-size: 2em;
}

a.home-button {
  width: 50px;
  margin: 0px auto;
}
 