// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  height: 120px;
  width: 200px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
}

.card-holder {
  display: inline-block;
}

#game-board-holder {
  max-width: 1400px;
  min-width: 800px;
  text-align: center;
}

.game-board {
  margin-top: 20px;
  height: 600px;
  width: 750px;
  display: inline-block;
}

.card-image {
  display: inline-block;
  height: 108.9px;
  width: 75px;
  z-index: -1;
  position: relative;
  margin: 5px auto 0px auto;
}

.card-image-holder {
  height: 100px;
  display: inline-block;
}

.card-button-holder {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.card-button {
  z-index: 1;
  position: relative;
  display: block;
  margin: 15px auto;
  background-color: #d9d9d9;
  box-shadow: 0px 0px 5px #000000;
  border-radius: 10px;
  padding: 2px 5px;
  color: #0066cc;
  width: 55px;
  font-weight: bold;
}

.card-button:hover {
  cursor: pointer;
  color: #d9d9d9;
  background-color: #0066cc;
}

#cards-remaining {
  display: inline-block;
  float: left;
}

#invalid-piles {
  display: inline-block;
  float: right;
}

.number-statistic {
  font-size: 1.75em;
}

.game-message {
  clear: both;
  font-size: 2em;
}

a.home-button {
  width: 50px;
  margin: 0px auto;
}
 